@font-face {
    font-family: "Source Code bold";
    src: url(./src/SourceCodePro-Bold.ttf);
    font-family: "Source code italic";
    src: url(./src/SourceCodePro-SemiBoldItalic.ttf)
}
body{
    background-color: white;
}
h1{
    font-family: oswald,sans-serif;
}

h2{
    font-family: oswald,sans-serif;
}

p{
    font-family: Poppins, sans-serif;
}


#colors, #fonts, #text-styles {
    border: 2px solid grey;
    margin: 30px;
    padding: 20px 10px;
}
section div {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 100px;
    border-radius: 7px;
}
#cool-blue{
    background-color: #2d5dcc;
    color: white;
}
#pink {
    background-color: #d957d9;
    color:black ;
}
#mint{
    background-color: #4fe0b0;
}
#beige{
    background-color: #efd9ca;
}

#source-code-pro p {
    text-align: left;
    font-family: 'Source Code Pro';
}
#source-code-pro #two {
    font-family: 'Source Code bold';
}

#source-code-pro #three {
    font-family: 'Source code italic';
}